
body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.bg {
  background-image: url('../images/homepg.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.bg2 {
  background-image: url('../images/second_pg.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

/* Title Texts */
#title-text {
  font-family: "Mystery Quest", system-ui, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: rgb(250, 222, 127);
  text-align: left;
  position: absolute;
  top: 0%;
  left: 10%;
  pointer-events: none;
  user-select: none;
  text-shadow: 5px 5px 0px #a82d3d, 10px 10px 0px #e14545, 15px 15px 0px #542828, 0 0 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(154, 37, 52, 0.629);
  z-index: 1;
  transform: perspective(150px) rotateX(5deg) rotateY(5deg);
}

#sub-text {
  font-family: "Mystery Quest", system-ui, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(192, 222, 101);
  text-align: left;
  position: absolute;
  top: 8%;
  left: 20%;
  pointer-events: none;
  user-select: none;
  text-shadow: 5px 5px 0px #5f3e26, 10px 10px 0px #5f3e26, 15px 15px 0px #5f3e26, 2px 2px 5px rgba(146, 206, 121, 0.4);
  z-index: 1;
  transform: perspective(400px) rotateX(5deg) rotateY(5deg);
}

/* Sound buttons */
.sound-button {
  position: absolute;
  top: 65.5%;
  left: 10.2%;
  background: linear-gradient(145deg, rgb(239, 206, 107), rgb(241, 171, 39)); 
  border: none;
  color: white;
  font-size: 40px; 
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(156, 48, 89, 0.815); 
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  z-index: 1000; 
  animation: pulse 4s ease-in-out infinite; 
}


.sound-button:hover {
  background: linear-gradient(145deg, rgb(190, 50, 80), rgb(160, 60, 84)); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px) rotateX(5deg) rotateY(5deg); 
}

.sound-button:hover i {
  transform: scale(1.1); 
  text-shadow: 2px 2px 5px rgba(218, 109, 140, 0.732), 0 0 25px rgba(243, 231, 146, 0.8), 0 0 50px rgba(246, 229, 124, 0.6);
}

.sound-button i {
  transition: transform 0.3s ease;
}


@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

/* GIFS */
.gif-container {
  width: 350px; 
  height: 350px;
  border-radius: 50%; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 46%; 
  left: 17%; 
  transform: translate(-50%, -50%); 
  z-index: 10; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.gif-container:hover {
  transform: scale(1.03) translate(-50%, -50%) rotateX(5deg) rotateY(5deg);
  opacity: 0.9;
}

.gif-container img {
  width: 100%;  /* Make the image cover the whole container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensure the aspect ratio is preserved and the image fills the circle */
  transition: transform 0.3s ease;
}

.gif-container:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.gif-container .text {
  position: absolute;
  color: white;
  font-size: 24px;
  font-family: "Jersey 15", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.4s ease;
  transform: scale(0.8);
}

.gif-container:hover .text {
  opacity: 1;
  transform: scale(1);
}

.gif-container:nth-child(2) {
  top: 32%; 
  left: 64%; 
}

.gif-container:nth-child(3) {
  top: 68%;  
  left: 83%; 
}

/* Back Button */
.back-button {
  background: linear-gradient(145deg, rgb(239, 206, 107), rgb(241, 171, 39)); /* Gradient background */
  color: white;
  font-size: 30px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(156, 48, 89, 0.815); 
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%; 
  left: 2%; 
  transform-style: preserve-3d;
  z-index: 1000;
}


/* Hover Effect */
.back-button:hover {
  background: linear-gradient(145deg, rgb(190, 50, 80), rgb(160, 60, 84)); /* Reverse Gradient */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
}

.back-button:hover i {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(218, 109, 140, 0.732), 0 0 25px rgba(243, 231, 146, 0.8), 0 0 50px rgba(246, 229, 124, 0.6);
}

/* Button Container */
.nav-container {
  position: fixed;
  top: 35px;
  right: 55px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  z-index: 10;
}

/* Navigation Buttons */
.nav-button {
  background: linear-gradient(145deg, rgb(127, 197, 77), rgb(95, 126, 63));
  border: none;
  color: white;
  font-size: 18px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 6px 12px rgba(156, 48, 89, 0.815);
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  z-index: 1;
}

.nav-button i {
  font-size: 35px;
}

.nav-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
  background: linear-gradient(145deg, rgb(190, 50, 80), rgb(160, 60, 84));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
}

.nav-button:hover i {
  text-shadow: 2px 2px 5px rgba(218, 109, 140, 0.732), 0 0 25px rgba(243, 231, 146, 0.8), 0 0 50px rgba(246, 229, 124, 0.6);
}

.nav-button:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  font-size: 20px;
  color: white;
  margin-top: 8px;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  transform: translateX(-50%) scale(1.1) perspective(400px) rotateX(10deg) rotateY(10deg);
}


/* Bubble Styles */
#home-bubble {
  width: 42vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 54%;
  right: 10%;
  border: none;
  background: none;
  animation: wiggle 1s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home-bubble img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mini-person-img {
  width: 42vw; 
  height: auto;
  position: absolute;
  top: 26%; 
  left: 66%;
  z-index: 2;
  user-select: none;
  transform: translate(-50%, -50%);
  animation: float 1.5s ease-in-out infinite;
}

#home-flower-img {
  width: 80vw; 
  height: auto;
  position: absolute;
  top: 67%; 
  left: 32%;
  z-index: 2;
  pointer-events: none; 
  user-select: none;
  transform: translate(-50%, -50%);
  animation: float 3.5s ease-in-out infinite;
}

/* Animation 1 */
@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0); 
  }
  60% {
    transform: translate(-50%, -50%) translateY(-10px); 
  }
  100% {
    transform: translate(-50%, -50%) translateY(0); 
  }
}

/* Bubble Text */

#bubble-text {
  font-family: "Jersey 15", sans-serif; /* Apply the Jersey 15 font */
  font-size: 70px;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  user-select: none;
  text-shadow: 4px 3px 0px #7A7A7A;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.4s ease; 
}


#home-bubble:hover {
  transform: scale(1.05) rotateX(3deg) rotateY(3deg);
}

#home-bubble:hover #bubble-text {
  opacity: 1; 
  transform: scale(1.2); 
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  65% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(0deg);
  }
}


:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #da7105;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #b64e08;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
  --color-text-muted: #4f4f4f;

  --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-display: "Poppins", system-ui, sans-serif;
}

/** Base **/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

[type="checkbox"],
[type="radio"],
[type="range"] {
  appearance: none;
  flex-shrink: 0;
  padding: 0;
  user-select: none;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="range"]:focus {
  outline: none;
}

/** Components **/

.fs-form {
  display: grid;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  display: grid;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) fieldset {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.fs-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fs-label {
  color: var(--color-text-default);
  display: block;
  font-family: var(--font-family-display);
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-description {
  color: var(--color-text-muted);
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-button-group {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) .fs-button-group {
  grid-column: 1 / -1;
}

.fs-button {
  background-color: var(--color-primary);
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 2rem;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-button:hover {
  background-color: var(--color-primary-active);
}

.fs-button:focus-visible {
  background-color: var(--color-primary-active);
  outline: 4px solid var(--color-highlight);
}

.fs-input,
.fs-select {
  appearance: none;
  border-radius: 9999px;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-input::placeholder {
  color: var(--color-text-muted);
}

.fs-checkbox-group,
.fs-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fs-checkbox-field,
.fs-radio-field {
  column-gap: 0.5rem;
  display: flex;
}

:is(.fs-checkbox-field, .fs-radio-field) .fs-label + .fs-description {
  margin-top: 0.25rem;
}

.fs-checkbox-wrapper,
.fs-radio-wrapper {
  align-items: center;
  display: flex;
  height: 1.25rem;
}

.fs-checkbox,
.fs-radio {
  background-color: #fff;
  border: 1px solid var(--color-border-default);
  height: 1.25rem;
  width: 1.25rem;
}

.fs-checkbox {
  border-radius: 0.25rem;
}

.fs-radio {
  border-radius: 100%;
}

.fs-checkbox:checked,
.fs-radio:checked {
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}

.fs-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.fs-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.fs-checkbox:focus-visible,
.fs-radio:focus-visible {
  border-color: var(--color-border-active);
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-checkbox:checked:focus-visible,
.fs-radio:checked:focus-visible {
  border-color: transparent;
}

.fs-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.625em 1.625em;
  padding-right: 2.875rem;
}

.fs-slider {
  background: transparent;
  cursor: pointer;
  height: 1.25rem;
  width: 100%;
}

.fs-slider::-moz-range-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-moz-range-thumb {
  background-color: var(--color-primary);
  border: none; /* Removes extra border that FF applies */
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.fs-slider::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 1.25rem;
  margin-top: -0.375rem; /* Centers thumb on the track */
  width: 1.25rem;
}

.fs-slider:focus-visible::-moz-range-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-slider:focus-visible::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-switch-field {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.fs-switch {
  background-color: var(--color-background-alt);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.75' fill='white'/%3e%3c/svg%3e");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  transition-duration: 200ms;
  transition-property: background-color, background-position;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
}

.fs-switch:checked {
  background-color: var(--color-primary);
  background-position: right center;
}

.fs-switch:focus-visible {
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-textarea {
  appearance: none;
  border-radius: 0.75rem;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  resize: vertical;
}

.fs-textarea:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}


/* Custom Cursor */
* {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}
